[submodule "gpodder-core"]
	path = gpodder-core
	url = https://github.com/gpodder/gpodder-core.git
[submodule "podcastparser"]
	path = podcastparser
	url = https://github.com/gpodder/podcastparser.git
[submodule "minidb"]
	path = minidb
	url = https://github.com/thp/minidb.git
