[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=gPodder
Icon=harbour-org.gpodder.sailfish
Exec=sailfish-qml harbour-org.gpodder.sailfish

[X-Sailjail]
Permissions=Audio;UserDirs;RemovableMedia;Internet
OrganizationName=org.gpodder
ApplicationName=gpodder.sailfish

[X-HarbourBackup]
BackupPathList=.config/org.gpodder/gpodder.sailfish:.local/share/org.gpodder/gpodder.sailfish
