[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=gPodder
Icon=harbour-org.gpodder.sailfish
Exec=sailfish-qml harbour-org.gpodder.sailfish
